@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class=jumbotron>
      <h1>Hair Salon</h1>
    </div>
    <br>
    <form action="/stylists/new" method="post">
      <label for="new-name">Enter Stylist's Name:</label><br>
      <input id="new-name" name="new-name" type="text">
      <button type="submit" class="btn-primary">Save Stylist</button><br>
    </form>
    <p><a href="/">Home.</a></p>
  </body>
</html>
