@{
  Layout = "_Layout";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="w3-container w3-middle">
      <div class="w3-container" align="center">
        <h1>Hair Salon</h1>
        <h2>You just fired all your Stylists!!!</h2>
        <h3><a href="/">Back to what's left of your Hair Salon.</a></h3>
      </div>
    </div>
  </body>
</html>
